body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) repeat center center fixed; 
  height: 90%;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


h1{
  text-transform: uppercase;
  font size:3rem;
  color: #333333;
}
#main-content h1 {

  margin: 0px 0px 0px 0px; 
  
  padding: 0px 0px 0px 0px;}
.buffer{
  height: 10rem;
}
.btn{
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
}

.btn-xl{
  padding:10px 2 rem;
}

